main {
    min-height: 80vh;
    margin-top: 80px;
    background-image: url("../public/background.jpg");
    font-family: "Merriweather", serif;
    font-style: normal
}

 /* footer */

.footer-copyright {
    background-image: url("../public/background.jpg");
    opacity: 90%;
    color: black;
    font-family: "Merriweather", serif;
    font-style: normal
}

.footerLink {
    color: black;
    text-decoration: none;
    font-size: large;
    font-family: "Merriweather", serif;
    font-style: normal
}

.footerLink:hover
{
    text-decoration: underline;
}

@keyframes logo_movement {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
  }

  .logo {
    animation: logo_movement 5s linear infinite;
  }

 /* navbar */

.navbar
{
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    opacity: 95%;
    background-image: url("../public/background.jpg");
    font-size: 2ch;
    font-weight: bolder;
}

 /* artwork card */

.card.card {
    background-color: #f9e7ef91;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.card.card:hover {
    transform: translateY(-10px);
}

.artwork-image {
    height: 200px;
    object-fit: none;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

div.list-group-item {
    background-color: #f9e7ef91;
    color: black !important;
    padding: 10px;
    opacity: 90%;
}

.image-list {
    max-width: 100%;
    height: auto;
    border: 5px solid #f9e7ef91;
    border-radius: 5px;
    margin-bottom: 10px;
}

 /* scrollbar  */

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #e47dfd;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #880dae;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #480050;
  } 
  
  /* CART */

  .linkTitleCart {
    color: black;
    text-decoration: none;
    font-size: large;
  }

  .cartRow {
    margin: 20px;
    padding: 20px;
    align-items: center;
  }

  .cartItemContainer {
    text-align: center;
    font-size: larger;
}

  @media (max-width: 780px) {
    .imageCart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartItemContainer {
        text-align: center;
    }

    .formSelect {
      align-items: center;
    }

    .cartItemContainer div {
      font-size: 30px;
    }
  }